*{
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;	
}


html,body{
	height:100%;
}

:root{
	--NavBarPadding:40px;
	--NavBarButtonSize:30px;
	--SideBarWidth:100px;
}

Nav{
	background:linear-gradient(rgba(80,40,80,1),rgba(0,0,0,1));
	padding-left:150px;
	padding-top:40px;
	padding-bottom:40px;
	height:50px;
	min-width:calc(100% - 150px);
	max-width:calc(100% - 150px);
}
a.NavButton{
	color:rgba(255,255,255,0.7);
	margin-left:20px;
	text-decoration:none;
	font-size:var(--NavBarButtonSize);
	max-height:var(--NavBarButtonSize);
}
a.NavButton:hover{
	color:rgba(255,255,255,1);	
}
a.NavButton:active{
	color:rgba(200,200,200,1);	
}
.SideBar{
	position:absolute;
	z-index: -1;
	top:110;
	background:rgba(50,0,0,1);
	min-width:var(--SideBarWidth);
	max-width:var(--SideBarWidth);
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
	box-shadow: 10px 0px 30px rgba(120,60,120,1);
}

.ModelViewer{
	background-color:black;
	top:0;
	left:0;
	min-width:100%;
	max-width:100%;
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
}
