*{
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;	
}
html,body{
	height:100%;
	width:100%;
	background:rgba(0,0,0,1);
}
:root{
	--NavBarPadding:40px;
	--NavBarButtonSize:30px;
	--SideBarWidth:100px;
}
Nav{
	background:linear-gradient(rgba(80,40,80,1),rgba(80,40,80,1),rgba(0,0,0,1));
	padding-top:40px;
	padding-bottom:40px;
	height:50px;
	min-width:100%;
	max-width:100%;
}
.Contact{
	position:absolute;
	top:30;
	left:30;
	width:20%;
}
.Email{
	font-size:30px;	
	color:rgba(255,255,255,1);
}
.Number{
	font-size:25px;	
	color:rgba(255,255,255,1);
}
a.NavButton{
	color:rgba(255,255,255,0.7);
	margin-left:20px;
	text-decoration:none;
	font-size:var(--NavBarButtonSize);
	max-height:var(--NavBarButtonSize);
}
a.NavButton:hover{
	color:rgba(255,255,255,1);	
}
a.NavButton:active{
	color:rgba(200,200,200,1);	
}
.MainContainer{
	margin-left:20%;
	margin-right:20%;
}
.MainTitle{
	text-align:center;
	clear:both;
	margin:30px auto 30px;
	font-size:20px;
	width:100%;
	padding:0px 30px;
	color:rgba(255,255,255,1);
}
.MainSection{
	font-size:20px;
	width:50%;
	margin-top:30px;
	padding:0px 30px;
	padding-bottom:0px;
	color:rgba(255,255,255,1);
}
.MainTitleSection{
	background:rgba(60,60,60,1);
	text-align:center;
	clear:both;
	margin:30px auto 0px;
	font-size:20px;
	width:60%;
	padding:0px 30px;
	color:rgba(255,255,255,1);
}
.Closer{
	clear:both;	
}
.ModelSection{
	postion:fixed;
	bottom:0;
	right:0;
	font-size:20px;
	z-index:3;
	width:30%;
	padding:20px;
	padding-bottom:0px;
	color:rgba(255,255,255,1);
}
.Left{
	float:left;
}
.Right{
	float:right;
}
.VideoContainer {
	clear:both;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.Video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.RenderMain{
	width:100%;
}
.RenderLink{
	display:block;
	float:left;
	max-width: 25%;
	margin:0%;
}
.RenderImg{
	width:100%;
	height:100%;
	vertical-align: middle;
}
.SideBar{
	position:absolute;
	z-index: -1;
	top:110;
	background:rgba(50,0,0,1);
	min-width:var(--SideBarWidth);
	max-width:var(--SideBarWidth);
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
}
.ModelTopBar{
	position:absolute;
	z-index: 5;
	top:110;
	background:rgba(255,255,255,0);
	min-width:100%;
	max-width:100%;
}
.ModelSideBar{
	position:absolute;
	z-index: 2;
	top:110;
	background:rgba(255,255,255,0);
	max-width:220px;
}

a.ModelImgLink{
	margin-top:10px;
	margin-left:0.9%;
	opacity:0.8;
	float:left;
	width:9%;
	height:9%;
}
a.ModelImgLink:hover{
	opacity:0.9;
}
a.ModelImgLink:active{
	opacity:1;
}

a.ModelImgLinkVert{
	z-index:3;
	margin-top:10px;
	margin-left:10px;
	opacity:0.8;
	float:left;
	width:100px;
	height:100px;
}
a.ModelImgLinkVert:hover{
	opacity:0.9;
}
a.ModelImgLinkVert:active{
	opacity:1;
}


.ModelImg{
	width:100%;
	height:100%;
	border-radius: 25%;
	box-shadow 0px 0px 15px rgba(255,0,0,1);
}
.ModelViewer{
	background-color:black;
	position:absolute;
	z-index:1;
	top:130;
	left:0;
	min-width:100%;
	max-width:100%;
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
}
footer{
	clear:both;
	color:rgba(255,255,255,1);
	text-align:center;
	font-size:25px;
	background:linear-gradient(rgba(0,0,0,1),rgba(80,40,80,1),rgba(80,40,80,1));
	padding-top:40px;
	padding-bottom:40px;
	height:50px;
	min-width:100%;
	max-width:100%;	
}
.footer{
	line-height:80px;
}
