*{
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;	
}

html,body{
	height:100%;
}

:root{
	--NavBarPadding:40px;
	--NavBarButtonSize:30px;
	--SideBarWidth:100px;
}

Nav{
	background:linear-gradient(rgba(80,40,80,1),rgba(0,0,0,1));
	padding-left:250px;
	padding-top:40px;
	padding-bottom:40px;
	height:50px;
	min-width:calc(100% - 250px);
	max-width:calc(100% - 250px);
}
a.NavButton{
	color:rgba(255,255,255,0.7);
	margin-left:20px;
	text-decoration:none;
	font-size:var(--NavBarButtonSize);
	max-height:var(--NavBarButtonSize);
}
a.NavButton:hover{
	color:rgba(255,255,255,1);	
}
a.NavButton:active{
	color:rgba(200,200,200,1);	
}
.SideBar{
	position:absolute;
	z-index: -1;
	top:110;
	background:rgba(50,0,0,1);
	min-width:var(--SideBarWidth);
	max-width:var(--SideBarWidth);
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
}
.ModelTopBar{
	position:absolute;
	z-index: 5;
	top:110;
	background:rgba(255,255,255,0);
	min-width:100%;
	max-width:100%;
}
.ModelSideBar{
	position:absolute;
	z-index: 5;
	top:110;
	background:rgba(255,255,255,0.5);
	min-height:calc(100% - 110px);
	max-height:calc(100% - 110px);
	max-width:200px;
}

a.ModelImgLink{
	margin-top:10px;
	margin-left:0.9%;
	opacity:0.8;
	float:left;
	width:9%;
	height:9%;
}
a.ModelImgLink:hover{
	opacity:0.9;
}
a.ModelImgLink:active{
	opacity:1;
}

a.ModelImgLinkVert{
	margin-top:1%;
	margin-left:1%;
	opacity:0.8;
	float:left;
	width:49%;
	height:49%;
}
a.ModelImgLinkVert:hover{
	opacity:0.9;
}
a.ModelImgLinkVert:active{
	opacity:1;
}


.ModelImg{
	width:100%;
	height:100%;
	border-radius: 25%;
	box-shadow 0px 0px 15px rgba(255,0,0,1);
}
.ModelViewer{
	background-color:black;
	top:0;
	left:0;
	min-width:100%;
	max-width:100%;
	min-height:calc(100% - 130px);
	max-height:calc(100% - 130px);
}
